<html >
<head>
    <title>Mi primer Login</title>

 <link rel="stylesheet" href="../../assets/node_modules/bootstrap/dist/css/bootstrap.css">
<script src="../../assets/node_modules/jquery/dist/jquery.min.js" ></script>
<script src="../../assets/node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../../assets/node_modules/bootstrap/dist/js/bootstrap.js" ></script>
<script src="../../assets/node_modules/@fortawesome/fontawesome-free/js/all.min.js" data-auto-replace-svg="nest"></script>

   <style type="text/css">
.btn-primary {
background-color: #447401;
border-color: black;

}
   </style>

</head>
<body style="    margin-top: 160px;" background="../../assets/images/thumb-1920-722604.jpg"
>
    <div class="modal-dialog text-center" style="    width: 400px;
">
        <div class="col-sm-12 ">
            <div class="modal-content" style="
    background: #b1da38;">
                <div class="col-12 ">
                    <img src="../../assets/images/user.png" style=" margin-top: -100px ;width: 150px;">
                </div>
                <form class="col-12"  method="post">
                    
                    <input type="text"  placeholder="Nombre de usuario" name="nombre" class="form-control" />
                   
                    
                    <input type="password"  placeholder="Contrasena" name="password"class="form-control" style="margin-top:5"/>
                    
                    <button style="margin-top:10px" type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>